.customNodeBody {
    width: 150px;
    height: 80px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .customNode:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    height: 20px;
    width: 40px;
    transform: translate(-50%, 0);
    background: #d6d5e6;
    z-index: 1500;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    font-size: 9px;
    border: 2px solid #222138;
    display: none;
  }
  
  div.customHandle {
    width: 100%;
    height: 100%;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
  }

  .plausible-raven-container {
    position: absolute;
    top: 20vh;
    left: 50vw;
    /* height: 100px; */
    /* width: 100px; */

    height: 400px;
    width: 400px;
    /* width: 30vw;
    height: 30vh; */
    /* width: 100px;
    height: 100px; */
    /* z-index: 1000; */
    /* overflow: hidden; */
    /* margin: 0;
    padding: 0;
    background-color: red; */

  }

  .plausible-raven {
    position: relative;
    height: 100%;
    width: 100%;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 100px;
    height: 100px;
    z-index: 1001; */
    /* overflow: hidden; */
  }





  .plausible-raven-container2 {
    /* position: absolute;
    top: 20vh;
    left: 50vw;

    height: 400px;
    width: 400px; */
    /* width: 200px; */
    height: 150px;
    width: 760px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    /* Hide on mobile */
    @media (max-width: 768px) {
        display: none;
    }
  }

  .plausible-text-mobile {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
  }

  .plausible-text-mobile-box {
    /* Purple box full width of screen */
    width: 90vw;
    /* height: 100px; */
    background-color: #6E00FF;
    color: white;
    border-radius: 10px;
    padding: 4px;
  }



  .plausible-raven2 {
    height: 400px;
    margin-left: 250px;
    margin-top: 10px;
    /* width: 500px; */

    /* position: relative;
    height: 100%;
    width: 100%; */
  }
  
  

  .dag-designer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    background-color: #F3F3F3;
    height: fit-content;
    padding-left: 25px;

    /* align-items: center; */
    
    @media (max-width: 768px) {
      align-items: center;
      max-width: 95%;
      gap: 10px;
  }
}

  /* Header */
.activity-header {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  width: 100%;
  h1 {
      margin: 0;
      margin-left: 10px;
      font-size: 1.3rem;
      /* padding: 0; */
  }
}
.logo-sideways {
  /* width: 100%; */
  height: 5%;
  /* width: 5%; */
  align-self: center;
}

.node-delete-mode {
    border: 3px dashed red !important;
    /* Optionally, you can change the background color as well */
    /* background: #ffcccc !important; */
    /* stroke-dasharray: 10, 2; */
    border: 3px solid red !important;

}
.node-delete-mode:hover {
  border: 3px solid red !important;
  border: 3px dashed red !important;
}

/* Updated style for the Exit Delete Mode button */
button.exit-delete-mode {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
}

/* More prominent border for selected nodes */
.react-flow__node.selected {
    box-shadow: 0 0 0 2px #6e00ff !important; /* Bright magenta border */
}

/* More prominent style for selected edges */
.react-flow__edge.selected .react-flow__edge-path {
    stroke-width: 4 !important; /* Thicker line for selected edges */
    stroke: #6e00ff !important; /* Bright magenta color */
}

.react-flow__handle {
    width: 18px !important;
    height: 12px !important;
    background: #000000 !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 6px !important;
}
/* Hover state */
.react-flow__handle:hover {
    background: rgb(66, 66, 66) !important;
    border: 1.5px solid #FFFFFF !important;
}

.react-flow__handle-top {
    /* top: -1px !important; */
}

.react-flow__handle-bottom {
    /* bottom: -1px !important; */
}

/* Edge delete mode styling */
.edge-delete-mode {



    /* stroke: #ff0000 !important; Red color for delete mode */
    /* stroke-width: 4px !important; Make edges thicker in delete mode */
    /* cursor: pointer; Ensure pointer cursor is set */
    /* stroke-dasharray: 10, 2; */

  /* No stroke */
  stroke: none !important;

}

.edge-delete-mode path {
    stroke: #ff0000 !important;
}

/* Optional: Add hover effect for edges in delete mode */
.edge-delete-mode:hover {
    /* stroke: #ff4444 !important; */
    /* border: 5px dashed #ff4444 !important; */

    /* Below is an example of the stroke dasharray */
    /* stroke-dasharray: 10, 2; */

    stroke-dasharray: 10, 2;
    /* border: 5px dashed #ff4444 !important; */
    /* stroke: none !important; */


    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" fill="black" stroke="white" stroke-width="1"/></svg>') 12 12, auto;
}

/* Add these new styles */
.cursor-delete {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" fill="black" stroke="white" stroke-width="1" /></svg>') 12 12, auto;
}

.node-delete-mode {
  cursor: pointer;
}

.edge-delete-mode {
  cursor: pointer;
}

.node-delete-mode {
  opacity: 0.8; /* Optional: visual indicator that delete mode is active */
}

.edge-delete-mode {
  opacity: 0.8;
}

.delete-mode-border {
    border: 3px dashed rgba(255, 0, 0, 0.639);
}