/* Importing fonts  */
@font-face {
    font-family: "GeneralSans-Semibold";
    src: url("assets/GeneralSans-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: "GeneralSans-Semibold";
    src: url("assets/GeneralSans-Regular.ttf") format("truetype");
}
* {
    font-family: "GeneralSans-Semibold", sans-serif;
}

body {
    background-color: #f4f4f4;
    background-color: #F3F3F3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "GeneralSans-Regular", sans-serif;
}
h1 {
    font-family: "GeneralSans-Regular", sans-serif;
    color: #000000;
    /* font-weight: 800; */
}
h2 {
    font-family: "GeneralSans-Regular", sans-serif;
}

p {
    font-family: "GeneralSans-Regular", sans-serif;
}

button {
   
}


.dag-utility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.available-nodes-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.available-node {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.available-node.selected {
    border-color: #007BFF; /* Blue border for selected nodes */
    background-color: #E0F0FF; /* Light blue background for selected nodes */
}


/* .control-row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}
.add-variables-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
}
.add-arrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
} */

.dag-designer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    background-color: #F3F3F3;
    height: fit-content;
    /* border: 1px solid #D4D4D4; */
}


.add-variables-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 10px; */
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 5px;
    p {
        margin: 0;
        padding: 0;
        color: rgb(0, 0, 0, 0.6);
    }
    button {
        background-color: #D4D4D4;
        color: #202020;
        border: none;
        border-radius: 5px;
    }
    button:hover {
        background-color: #b7b7b7;
    }
}

.dag-designer-submit-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 60%;
}

.dag-designer-submit-area-instructions {
    width: 100%;
    text-align: left;
    h2 {
        margin-top: 0;
    }
    p {
        margin-left: 10px;
        /* margin-bottom: 0; */
    }
}

.dag-designer-submit-area-text-area {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFF;
}
.dag-designer-submit-button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.dag-designer-submit-area-submit-button {
    /* dark button */
    background-color: #292929;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0rem;
}



.dag-loader-description {
    display: flex;
    width: 400px;
    /* width: fit-content; */

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    /* background-color: transparent; */
    p {
        /* color: rgb(0, 0, 0, 0.6); */
    }
    
}

.react-flow-modal-container {
    /* width: 680px; */
    /* height: 650px; */
}

.react-flow-container {
    /* shadow */
    box-shadow: -1px -1px 10px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.dag-designer-modal-container {
    background-color: transparent;
}


.dark-button {
    background-color: #292929;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "GeneralSans-Regular", sans-serif;
    margin: 5px 10px;
}
.dark-button:hover {
    background-color: #474747;
}
/*  */
.light-button {
    background-color: #F0F0F0;
    color: #292929;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
.light-button:hover {
    background-color: #D4D4D4;
}


.expand-dag-button {
    background-color: #e1e1e1;
    color: #292929;
    border: none;
    /* padding: 10px 20px; */
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "GeneralSans-Regular", sans-serif;
}
.expand-dag-button:hover {
    background-color: #D4D4D4;
}