/* Mobile First Styles using Tailwind */
.full-page {
    @apply flex flex-col justify-between min-h-[90vh] max-h-screen overflow-hidden;
}

  /*
  .bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      align-items: flex-start;
      margin-left: 10em;
      flex-direction: column;
    }
  }
  */

  .bottom-container{
    @apply flex flex-col justify-center items-center md:items-start md:ml-20;
  }
  
  .speech-bubble-container{
    @apply w-[95%] h-full flex flex-col justify-center items-center z-[100] md:w-1/2;
  }

  .speech-bubble-body{
    @apply w-full flex flex-col justify-center items-center bg-brand-primary p-2.5;
}

  /* Triangle flat against the left side and bottom side */
  .speech-bubble-tail{
    @apply w-0 h-0 self-baseline;
    border-top: 25px solid theme('colors.brand.primary');
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
  }

  
  .main-text{
    @apply w-full rounded p-1 h-fit text-xl-plus md:text-2xl-plus;
  }
  .sub-text{
    @apply w-full bg-brand-primary-hover rounded p-1 h-fit text-lg md:text-xl-plus;
  }

  .continue-button{
    @apply self-end mr-4 fixed bottom-4 right-4 z-[100];
  }

  /* .board-raven{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
  } */

  .board-raven-outer-container{
    @apply w-full overflow-hidden fixed bottom-0 left-0;
  }

  .board-raven-inner-container{
    @apply w-[150%] h-full flex justify-center items-center -ml-[10%] md:w-3/5 md:ml-0;
  }

  .board-raven{
    @apply w-[150%] md:w-full;
  }

  .board-raven-image{
    @apply w-full h-full flex justify-center items-center md:w-[70%];
  }

  .board-raven-image-container{
    @apply w-full h-full flex justify-center items-baseline flex-col;
  }

