header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  }

  .header-container {
    align-self: baseline;
  }

  .header-bar{
    width: 100%;
    /* height: 100px; */
    /* height: 5%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #ca5656; */
    color: #202020;
    text-align: center;
    justify-content: space-between;
    align-self: baseline;
  }

  .title-bar{
    width: 100%;
    display: flex;
  }

 .header-exit-activity {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .header-exit-activity:hover {
    /* color: #FFFFFF; */
    color: #202020;
  }


  .logo {
    /* width: 100px; */
    height: 100%;
    width: 3vh;
    /* aspect-ratio: 1/1; */
    /* width: 100%; */
    cursor: pointer; /* indicates clickable */
    justify-content: center;
    align-items: center;
    align-self: center;
  }


  .header-title{
    /* color: #FFFFFF; */
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: flex;
  }


  /* If on desktop */
  @media (min-width: 768px) {
    .header-bar {
      display: flex;
    }
    .logo-mobile {
      display: none;
    }
    .logo-desktop {
      display: flex;
      gap: 2rem;
    }
    .title-bar {
      display: none;
    }
  }