.resultsTable {
    background-color: #E0E0E0; /* Grey background for the entire table */
    /* max-height: 400px; Adjust the height as needed */
    /* overflow: auto; */
    /* border-collapse: collapse; */
}

/* .resultsTable .MuiTableCell-root { */
    /* background-color: #ffffff; 
    padding: 5px;
    border-radius: 8px; 
    border: 1px solid #e0e0e0;  */
/* } */

.resultsTable .MuiTableCell-root > * {
    /* padding: 5px; */
    /* border: 1px solid #b72929; */
    /* background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    width: fit-content; */
}

/* .resultsTable .MuiTableCell-root > *:hover {
    background-color: #f0f0f0;
} */

.resultsFullPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* font-family: Arial, sans-serif; */
    min-height: 100vh;
}

.resultsContentContainer {
    /* flex: 1; */
    /* display: flex; */
    padding: 20px;
    max-width: 1000px;
    /* gap: 40px; */
    /* overflow-y: auto; */
    /* flex-direction: row; */
}

.ratingCellsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ratingCellContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.ratingCellTopRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

