/* Color Variables */
:root {
    --primary-color: #979797;
    --secondary-color: #5e5e5e;
    --tertiary-color: #6c6c6c;
    --quaternary-color: #333333;

    --grey-dark: #373737; /* Usually background */
    --grey-medium: #BFBFBF1A; /* Input fields */
    --grey-light: #979797;
    --grey-lighter: #5e5e5e;
    --grey-lightest: #6c6c6c;

    --grey-panel-labels: #FFFFFF99;
}


/* FFFFFF at 100% opacity = FFFFFF */
/* FFFFFF at 80% opacity = FFFFFFCC */
/* FFFFFF at 60% opacity = FFFFFF99 */
/* FFFFFF at 40% opacity = FFFFFF66 */
/* FFFFFF at 20% opacity = FFFFFF33 */



/* Mobile First Styles   */
.full-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.input-top-container {
    /* Styles for the top container, if needed */
}

.input-bottom-container {
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 40px;
    overflow-y: auto;
    flex-direction: row;
}

/* Input Panel Styles */
.input-panel {
    flex: 1;
    padding: 0;
    width: 40%;
}

.input-panel h2 {
    margin-bottom: 10px;
    color: var(--Neutrals-Black);
}

.response-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #bfbfbf3f;
}

.button-container {
    display: flex;
    gap: 10px;
}

/* Desktop Responsive Design */
@media (min-width: 768px) {
    .input-bottom-container {
        max-width: 800px;
    }
}