.draw-dag-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 80vh; */
    width: 80%;
    margin: 5px;
    padding: 0;
    /* padding-left: 10%; */

    /* Mobile Styling */
    @media (max-width: 768px) {
        width: 95%;
    }
}

/* Header */
.activity-header {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    width: 100%;
    h1 {
        margin: 0;
        margin-left: 10px;
        font-size: 1.3rem;
        /* padding: 0; */
    }
}
.logo-sideways {
    /* width: 100%; */
    height: 5%;
    /* width: 5%; */
    align-self: center;
}

.page-body {
    margin-left: 80px;
    /* Mobile Styling */
    @media (max-width: 768px) {
        margin-left: 0px;
    }
}

.draw-dag-instructions {
    width: 60%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 15px;
    h2 {
        font-family: "GeneralSans-Semibold", sans-serif;
        font-weight: 800;
        font-size: 1rem;
        margin: 0;
    }
    p {
        font-family: "GeneralSans-Regular", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        margin: 2px 0 0 2px;
    }
    ul {
        margin: 2px;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

.designer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.dag-image-container {
    width: 60%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -1px -1px 10px 2px rgba(0,0,0,0.1);

    @media (max-width: 768px) {
        width: 100%;
    }
}

.dag-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selection-form {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    @media (max-width: 768px) {
    }
}

.selection-btn-icon {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    border-radius: 10px;
}

.selection-btn {
    /* No margin
    no padding
    no border
    no background
    no outline

    on hover, give a border
    on selection, give a border and shadow
    */
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    /* outline: none; */
    border-radius: 10px;
    height: 100%;

}

.selection-btn:hover {
    border: 1px solid #292929;
}

.selection-btn:active {
    border: 1px solid #292929;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.selected {
    border: 1px solid #292929;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}


.submit-btn-container {
    @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}