/* Apply text-wrap: balance to all elements */
* {
  text-wrap: balance;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: 'GeneralSans', sans-serif; */
  font-family: 'GeneralSans-Semibold', sans-serif;

  /* Font smoothing */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.full-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #f5f5f5; */  /* Varies by activity */
  /* min-height: 100vh; */ /* Varies by activity */
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  gap: 1rem;
}
